@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus + .input-label,
input:not(:placeholder-shown) + .input-label {
  @apply -translate-y-5 -translate-x-2  scale-75;
}
